<div id="content">
  <%= render 'header' %>
  <!-- <p id="notice"><%= notice %></p> -->

  <% if @message %>
    <div class="message">
      <p><%= @message %></p>
    </div>
  <% end %>

  <h3>My Decks</h3>
  <ul class="my-decks deck-list">
    <% @my_decks.each do |deck| %>
      <li class="deck"><%= deck.name %></li>
    <% end %>
  </ul>

  <h3>Public Decks</h3>
  <ul class="public-decks deck-list">
    <% @public_decks.each do |deck| %>
      <li class="deck"><%= deck.name %></li>
    <% end %>
  </ul>

</div>
