#content {
  position: relative;
  display: block;
  height: 100%;
  font-size: 14px;
}
.header {
  position: relative;
  display: block;
  float: right;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.login-form {
  position: absolute;
  top: 40px;
  width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    #content {
      width: 100%;
    }
    .login-form {
      position: absolute;
      top: 40px;
      width: 100%;
    }

/* ====================
    INTERMEDIATE: Menu
   ==================== */





/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {


/* ============
    WIDE: Content
   ============ */


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    #content {
        width: 1026px; /* 1140px - 10% for margins */
        height: 100%;
        margin: 0 auto;
    }
    .login-form {
      position: absolute;
      right: 20px;
      top: 40px;
      width: 255px;
    }
}




.login-trigger {
  position: relative;
  float: right;
  margin: 0 10px;
}
.my-account-trigger {
  position: relative;
  float: right;
  margin: 0 10px;
}




