<h1>My decks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Icon path</th>
    <th>Private</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_decks.each do |deck| %>
  <tr>
    <td><%= deck.name %></td>
    <td><%= deck.icon_path %></td>
    <td><%= deck.private %></td>
    <td><%= link_to 'Show', deck %></td>
    <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
    <td><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deck', new_deck_path %>
