<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @deck.name %>
</p>

<p>
  <b>Icon path:</b>
  <%= @deck.icon_path %>
</p>

<p>
  <b>Private:</b>
  <%= @deck.private %>
</p>


<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
